// Colors
$color-primary: #422417;
$color-secondary: #b08e83;
$color-secondary-dark: #9b776d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

// Buttons
$color-btn-cta: #fff05a;
$color-btn-primary: #b08e83;
$color-btn-secondary: #422417;

// Font-sizes
$default-font-size: 1.6rem;

// Padding
$pad-xs: 5rem;
$pad-sm: 10rem;
$pad-md: 20rem;
$pad-lg: 30rem;

//Margin
$margin-xs: 1rem;
$margin-sm: 2rem;
$margin-md: 3rem;
$margin-lg: 5rem;
