// Colors
$color-primary: #422417;
$color-secondary: #b08e83;
$color-secondary-dark: #9b776d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$color-highlight-1: #e2ebc3;
$color-highlight-1-dark: #adccae;

// Buttons
$color-btn-cta: #fff05a;
$color-btn-primary: #b08e83;
$color-btn-secondary: #422417;

// Font-sizes
$default-font-size: 1.6rem;

// Padding
$pad-xs: 1rem;
$pad-sm: 2rem;
$pad-md: 5rem;
$pad-lg: 10rem;

// Margin
$margin-xs: 1rem;
$margin-sm: 2rem;
$margin-md: 3rem;
$margin-lg: 5rem;

// Border radius
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 5rem;

// Box shadow
$box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
