.sidenav {
  position: absolute;
  top: 5vh;
  left: -160px;
  height: max-content;
  width: 160px;
  background-color: $color-primary;

  transition: left 500ms ease-in-out;

  &__active {
    left: 0;
  }

  &__list {
    margin-left: $margin-sm;

    &__item {
      height: 100%;
      list-style: none;
      font-weight: 700;

      &__link {
        color: $color-white;
        text-decoration: none;
      }

      &__text {
        color: $color-white;
        margin-right: auto;
        position: relative;

        &__wrapper {
          display: flex;
        }
      }

      &__drop {
        margin-left: $margin-sm;
        list-style: none;
        //visibility: hidden;
        opacity: 0;
        height: 0;
        transition: height 0ms 400ms, opacity 400ms 0ms;

        &__active {
          //visibility: visible;
          opacity: 1;
          height: 11.5rem;
          transition: height 0ms 0ms, opacity 600ms 0ms;
        }

        &link {
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }

  &__caret {
    margin-top: 5px;
    margin-right: 3rem;
    transition: transform 0.5s ease-in-out;

    &--rotate {
      transform: rotate(180deg);
    }
  }
}
