.sidenav {
  position: absolute;
  top: 5vh;
  left: -160px;
  height: max-content;
  width: 160px;
  background-color: $color-primary;

  transition: left 500ms ease-in-out;

  &__active {
    left: 0;
  }

  &__list {
    margin-left: $margin-sm;

    &__item {
      height: 100%;
      list-style: none;
      font-weight: 700;

      &__link {
        color: $color-white;
        text-decoration: none;
      }

      &__text {
        color: $color-white;
        margin-right: auto;
        position: relative;

        &__wrapper {
          display: flex;
        }
      }

      &__drop {
        margin-left: $margin-sm;
        list-style: none;
        //opacity: 0;
        //height: 0;
        display: none;
        //transition: height 0ms 400ms, opacity 400ms 0ms;

        &__active {
          //opacity: 1;
          //height: 11.5rem;
          display: block;
          //transition: height 0ms 0ms, opacity 600ms 0ms;
        }

        &link {
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }

  &__caret {
    margin-top: 5px;
    margin-right: $margin-sm;
    transition: transform 200ms ease-in-out;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  &__form {
    display: flex;
    //justify-content: center;

    &--container {
      background-color: $color-primary;
    }

    &--input {
      width: 10rem;
      border: none;
      cursor: pointer;
      background-color: $color-primary;
      color: $color-white;

      &:focus::placeholder {
        color: transparent;
      }

      &::placeholder {
        color: $color-white;
        font-family: "Poiret One", cursive;
        font-weight: 400;
        font-size: 1.6rem;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        background: url("/public/img/cross.svg");
        height: 5px;
        width: 5px;
        color: $color-white;
        display: block;
      }
    }

    &--btn {
      background: transparent;
      border: none;
      display: none;
    }

    &--icon {
      color: $color-white;
      cursor: pointer;
      align-self: center;
    }
  }
}
