.card 
  .card__top
    img.card__top__img(src='../img/Roma_Espresso_Blend.png' alt='Product image')
    .card__top__ellipse
  .card__product
    h2.card__product__name.heading-tertiary Coffee Name
    p.card__product__description.paragraph Lorem ipsum dolor sit amet consectetur.
    hr.hr.hr__sm
    p.card__product__price.paragraph--italic £19.99
