.card 
  .card__top
    .card__top__background
    .card__top__img__container
      //- img.card__top__img(src='#' alt='Product image')
  .card__product
    h2.card__product__name.heading-tertiary Coffee Name
    p.card__product__description.paragraph Lorem ipsum dolor sit amet consectetur.
    hr.hr.hr__sm
    p.card__product__price.paragraph--italic £19.99
