footer.footer 
  .footer--left
    p.footer__text &copy; Craft Coffee, 2022
  .footer--right
    ul.footer__list
      li.footer__list__item
        a.footer__list__item__link(href='#')
          i.fab.fa-facebook
      li.footer__list__item
        a.footer__list__item__link(href='#')
          i.fab.fa-instagram
      li.footer__list__item
        a.footer__list__item__link(href='#')
          i.fab.fa-twitter