nav.nav
  .nav__left
    a.nav__banner(href='/') Craft Coffee 
      i.nav__fas.fas.fa-coffee
  .nav__burger
    i.fas.fa-bars
    include _sidenav
  .nav__right
    ul.nav__list 
      li.nav__list__item
        a.nav__list__item__link(href='#') Shop
        ul.nav__list__item__drop 
          li
            a.nav__link(href='#') Bestsellers
          li.nav__list__subitem 
            span.nav__list__subitem__text By Brew Method
            ul.nav__list__subitem__drop
              li
                a.nav__link(href='#') Cafeterie
              li
                a.nav__link(href='#') Filter
              li
                a.nav__link(href='#') Espresso
          li.nav__list__subitem 
            span.nav__list__subitem__text By Roast Type
            ul.nav__list__subitem__drop
              li
                a.nav__link(href='#') Light
              li
                a.nav__link(href='#') Medium
              li
                a.nav__link(href='#') Dark
          li
            a.nav__link(href='#') All Coffees
          li
            a.nav__link(href='#') Latest Additions
          li
            a.nav__link(href='#') Equipment
      li.nav__list__item 
        span.nav__list__item__text About
        ul.nav__list__item__drop 
          li
            a.nav__link(href='#') Our Story
          li
            a.nav__link(href='#') Contact Us
      li.nav__list__item
        span.nav__list__item__text Learn
        ul.nav__list__item__drop 
          li
            a.nav__link(href='#') Brew Methods
          li
            a.nav__link(href='#') Roast Types 
          li
            a.nav__link(href='#') Sustainability
          li
            a.nav__link(href='#') Roasting
      li.nav__list__item
        i.nav__fas.fas.fa-search
        ul.nav__list__item__drop.nav__list__item__drop--search
          li
            .nav__form--container
              form.form.nav__form(method='GET' action='#')
                input.nav__form--input(type='search' name='nav-search' placeholder='Search')
                button.nav__form--btn(type='submit')
                  i.nav__fas.fas.fa-search.nav__form--icon
      li.nav__list__item
        i.nav__fas.fas.fa-user
        ul.nav__list__item__drop.nav__list__item__drop--account
          li
            a.nav__link(href='#') Login / Signup
      li.nav__list__item
        a.nav__list__item__link(href='#')
          i.nav__fas.fas.fa-shopping-cart
