nav.nav
  .nav__left
    a.nav__banner(href='/') Craft Coffee 
      i.nav__fas.fas.fa-coffee
  .nav__right
    ul.nav__list 
      li.nav__list__item 
        a.nav__link(href='#') Shop
      li.nav__list__item About
        ul.nav__list__item__drop 
          li Our Story 
          li Contact Us
      li.nav__list__item Learn
        ul.nav__list__item__drop 
          li Brew Methods
          li Roast Types 
          li Sustainability 
          li Roasting
      li.nav__list__item
        a.nav__link(href='#')
          i.nav__fas.fas.fa-search
      li.nav__list__item
        a.nav__link(href='#')
          i.nav__fas.fas.fa-user 
      li.nav__list__item
        a.nav__link(href='#')
          i.nav__fas.fas.fa-shopping-cart
