nav.nav
  .nav__left
    a.nav__banner(href='/') Craft Coffee 
      i.nav__fas.fas.fa-coffee
  .nav__right
    ul.nav__list 
      li.nav__list__item
        a.nav__list__item__link(href='#') Shop
        ul.nav__list__item__drop 
          li
            a.nav__link(href='#') Bestsellers
      li.nav__list__item 
        span.nav__list__item__text About
        ul.nav__list__item__drop 
          li
            a.nav__link(href='#') Our Story
          li
            a.nav__link(href='#') Contact Us
      li.nav__list__item
        span.nav__list__item__text Learn
        ul.nav__list__item__drop 
          li
            a.nav__link(href='#') Brew Methods
          li
            a.nav__link(href='#') Roast Types 
          li
            a.nav__link(href='#') Sustainability
          li
            a.nav__link(href='#') Roasting
      li.nav__list__item
        a.nav__list__item__link(href='#')
          i.nav__fas.fas.fa-search
      li.nav__list__item
        a.nav__list__item__link(href='#')
          i.nav__fas.fas.fa-user 
      li.nav__list__item
        a.nav__list__item__link(href='#')
          i.nav__fas.fas.fa-shopping-cart
