.sidenav
  ul.sidenav__list 
    li.sidenav__list__item 
      a.sidenav__list__item__link(href='#') Shop
    li.sidenav__list__item 
      a.sidenav__list__item__link(href='#') Our Story 
    li.sidenav__list__item 
      a.sidenav__list__item__link(href='#') Contact Us
    li.sidenav__list__item
      .sidenav__list__item__text__wrapper
        span.sidenav__list__item__text Learn
        i.nav__fas.fas.fa-caret-down.sidenav__caret
      ul.sidenav__list__item__drop
        li
          a.sidenav__list__item__droplink(href='#') Brew Methods
        li
          a.sidenav__list__item__droplink(href='#') Roast Types 
        li
          a.sidenav__list__item__droplink(href='#') Sustainability
        li
          a.sidenav__list__item__link(href='#') Roasting
    li.sidenav__list__item#sidenav__searchform
      .sidenav__form--container
        form.form.sidenav__form(method='GET' action='#')
          i.nav__fas.fas.fa-search.sidenav__form--icon
          input.sidenav__form--input(type='search' name='nav-search' placeholder='Search')
          button.sidenav__form--btn(type='submit')
    li.sidenav__list__item
      i.nav__fas.fas.fa-user
      a.nav__list__item__link(href='#') Account
    li.sidenav__list__item
      i.nav__fas.fas.fa-shopping-cart
      a.nav__list__item__link(href='#') Cart