extends base

block content 
  .home
    .home__hero 
      .home__hero__text 
        h1 We Sell Coffee.
        h1 That is all.
      .home__hero__image
    .home__bestsellers 
      .home__bestsellers__heading 
        h2 Our Bestsellers 
      .home__bestsellers__card card1
      .home__bestsellers__card card2
      .home__bestsellers__card card3
      .home__bestsellers__card card4
    .home__latest-additions 
      h1 Latest Additions 
    .home__collage 
      h1 Collage Section