extends base

block content 
  .home
    section.home__hero 
      .home__hero__image
      .home__hero__text 
        h1.heading-primary We Sell Coffee.
        h1.heading-primary That is all.
        a.btn.btn--cta(href=`#`) Shop now
    section.home__products
      .home__products__heading 
        h2.heading-secondary Our Bestsellers 
      hr.hr.home__products__hr
      .home__products__container
        .home__products__container__card
          include _card
        .home__products__container__card
          include _card
        .home__products__container__card
          include _card
        .home__products__container__card
          include _card
    section.home__products
      .home__products__heading 
        h2.heading-secondary Latest Additions
      hr.hr.home__products__hr
      .home__products__container
        .home__products__container__card card1
        .home__products__container__card card2
        .home__products__container__card card3
        .home__products__container__card card4
    section.home__collage 
      .home__collage__about
      .home__collage__contact
      .home__collage__brew
      .home__collage__sustain
      .home__collage__roasting