extends base

block content 
  .home
    .home__hero 
      .home__hero__text 
        h1 We Sell Coffee.
        h1 That is all.
      .home__hero__image
    .home__bestsellers 
      .home__bestsellers__heading 
        h2 Our Bestsellers 
        hr
      .home__bestsellers__cards
    .home__latest-additions 
      h1 Latest Additions 
    .home__collage 
      h1 Collage Section