extends base

block content 
  .home
    .home__hero 
      .home__hero__text 
        h1 We Sell Coffee.
        h1 That is all.
      .home__hero__image
    .home__products
      .home__products__heading 
        h2 Our Bestsellers 
      .home__products__card card1
      .home__products__card card2
      .home__products__card card3
      .home__products__card card4
    .home__products
      .home__products__heading 
        h2 Latest Additions
      .home__products__card card1
      .home__products__card card2
      .home__products__card card3
      .home__products__card card4
    .home__collage 
      .home__collage__about
      .home__collage__contact
      .home__collage__brew
      .home__collage__sustain
      .home__collage__roasting