extends base

block content 
  .product 
    .product__img
      img(src='../img/Roma_Espresso_Blend.png' alt='Product image')
    .product__info
      form.product__form(action='/basket/add' method='post')
        .product__nameBg
          .product__name.heading-secondary Coffee Name
        .product__size.heading-tertiary Size
        input.paragraph.product__size--250(label=' 250g' type='radio' id='250' name='size' value='250g' data-price='£6.50' checked='')
        input.paragraph.product__size--500(label='  500g' type='radio' id='500' name='size' value='250g' data-price='£12.50')
        input.paragraph.product__size--1000(label='  1kg' type='radio' id='1000' name='size' value='1kg' data-price='£24.50')
        hr.hr__sm.hr--roast
        .product__roast.heading-tertiary Roast 
        .product__description.paragraph Lorem ipsum dolor sit amet
        hr.hr__sm.hr--grind
        .product__grind.heading-tertiary Grind
        input.paragraph.product__grind--whole(label='Wholebean' type='radio' id='wholebean' name='grind' value='Wholebean' checked='')
        input.paragraph.product__grind--cafe(label='Cafetiere' type='radio' id='cafetiere' name='grind' value='Cafetiere')
        input.paragraph.product__grind--filter(label='Filter' type='radio' id='filter' name='grind' value='Filter')
        .product__submitContainer
          input.product__submit.btn.btn--cta(type='submit' value='Add to basket')
          label(for='quantity') Qty:
          select#quantity(name='quantity')
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='3') 4
            option(value='3') 5