extends base

block content 
  .shop
    .shop-head
      a.btn.btn--primary.btn--filter(href=`#`) Filter
      h2.heading-secondary.heading-shop Our Bestsellers 
      a.btn.btn--secondary.btn--sort(href=`#`) Sort by
    hr.hr
    .shop-products
      include _card
      include _card
      include _card
      include _card
      include _card
      include _card
      include _card