*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .heading-primary {
      margin-bottom: 3rem; } }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out; }
    @media screen and (max-width: 900px) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 2rem; } }
    @media screen and (max-width: 500px) {
      .heading-primary--main {
        letter-spacing: 1.5rem;
        font-size: 2.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out; }
    @media screen and (max-width: 900px) {
      .heading-primary--sub {
        font-size: 1rem;
        letter-spacing: 0.75rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }
  @media screen and (max-width: 500px) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media screen and (max-width: 320px) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.footer {
  background-color: red;
  width: 100vw;
  height: 5vh; }

.navbar {
  background-color: blue;
  width: 100vw;
  height: 5vh; }

.home {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 90vh 1fr 1fr 1fr; }
  .home__hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1; }
    .home__hero__text {
      background-color: powderblue; }
    .home__hero__image {
      background-color: steelblue; }
  .home__products {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    padding: 1rem; }
    .home__products__heading {
      grid-row: 1;
      grid-column: 2 / span 2;
      background-color: crimson; }
    .home__products__card {
      grid-row: 2;
      background-color: chocolate; }
  .home__collage {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 2;
    grid-template-areas: "about about about contact contact contact contact contact brew brew brew brew" "sustain sustain sustain sustain sustain sustain roasting roasting brew brew brew brew"; }
    .home__collage__about {
      background-color: cyan;
      grid-area: about; }
    .home__collage__contact {
      background-color: darkblue;
      grid-area: contact; }
    .home__collage__brew {
      background-color: darkgoldenrod;
      grid-area: brew; }
    .home__collage__sustain {
      background-color: darkgray;
      grid-area: sustain; }
    .home__collage__roasting {
      background-color: darkkhaki;
      grid-area: roasting; }
