*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .heading-primary {
      margin-bottom: 3rem; } }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out; }
    @media screen and (max-width: 900px) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 2rem; } }
    @media screen and (max-width: 500px) {
      .heading-primary--main {
        letter-spacing: 1.5rem;
        font-size: 2.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out; }
    @media screen and (max-width: 900px) {
      .heading-primary--sub {
        font-size: 1rem;
        letter-spacing: 0.75rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }
  @media screen and (max-width: 500px) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media screen and (max-width: 320px) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.hr {
  height: 2px;
  border-width: 0;
  color: #eee;
  background-color: #eee;
  width: 90%;
  margin: 2rem 0;
  /*Tablet and above Portrait View - 768px and above*/ }
  @media screen and (min-width: 768px) {
    .hr {
      width: 75%; } }

.footer {
  background-color: red;
  width: 100vw;
  height: 5vh; }

.navbar {
  background-color: blue;
  width: 100vw;
  height: 5vh; }

.home {
  width: 100vw;
  display: grid;
  grid-template-rows: 90vh 1fr 1fr;
  /*Tablet and above Portrait View - 768px and above*/ }
  @media screen and (min-width: 768px) {
    .home {
      grid-template-rows: 90vh 1fr 1fr 1fr; } }
  .home__hero {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    /*Tablet and above Landscape View - 1024px and above*/ }
    @media screen and (min-width: 1024px) {
      .home__hero {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto; } }
    .home__hero__image {
      grid-row: 1;
      background-color: steelblue;
      /*Tablet and above Landscape View - 1024px and above*/ }
      @media screen and (min-width: 1024px) {
        .home__hero__image {
          grid-row: 1;
          grid-column: 2; } }
    .home__hero__text {
      grid-row: 2;
      background-color: powderblue;
      /*Tablet and above Landscape View - 1024px and above*/ }
      @media screen and (min-width: 1024px) {
        .home__hero__text {
          grid-row: 1;
          grid-column: 1; } }
  .home__products {
    display: grid;
    grid-template-rows: 2fr 1fr 5fr;
    padding: 1rem;
    justify-items: center; }
    .home__products__heading {
      grid-row: 1;
      background-color: crimson; }
    .home__products__hr {
      grid-row: 2; }
    .home__products__container {
      grid-row: 3;
      background-color: chocolate;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 1rem;
      justify-items: center; }
      .home__products__container__card {
        background-color: darkorchid;
        width: 20rem;
        height: 30rem;
        margin: 1rem; }
  .home__collage {
    display: none;
    /*Tablet and above Portrait View - 768px and above*/
    /*Tablet and above Landscape View - 1024px and above*/ }
    @media screen and (min-width: 768px) {
      .home__collage {
        display: grid;
        grid-template-columns: 12;
        grid-template-rows: 2;
        grid-template-areas: "about about about contact contact contact contact contact" "sustain sustain sustain sustain sustain sustain roasting roasting"; } }
    @media screen and (min-width: 1024px) {
      .home__collage {
        grid-template-areas: "about about about contact contact contact contact contact brew brew brew brew" "sustain sustain sustain sustain sustain sustain roasting roasting brew brew brew brew"; } }
    .home__collage__about {
      background-color: cyan;
      grid-area: about;
      display: none;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 768px) {
        .home__collage__about {
          display: block; } }
    .home__collage__contact {
      background-color: darkblue;
      grid-area: contact;
      display: none;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 768px) {
        .home__collage__contact {
          display: block; } }
    .home__collage__brew {
      background-color: darkgoldenrod;
      grid-area: brew;
      display: none;
      /*Tablet and above Landscape View - 1024px and above*/ }
      @media screen and (min-width: 1024px) {
        .home__collage__brew {
          display: block; } }
    .home__collage__sustain {
      background-color: darkgray;
      grid-area: sustain;
      display: none;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 768px) {
        .home__collage__sustain {
          display: block; } }
    .home__collage__roasting {
      background-color: darkkhaki;
      grid-area: roasting;
      display: none;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 768px) {
        .home__collage__roasting {
          display: block; } }
