@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Poiret+One&display=swap");
.hide {
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poiret One", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box; }

.heading-primary {
  font-family: "Arya", sans-serif;
  color: #fff;
  font-size: 5rem;
  font-weight: 700; }

.heading-secondary {
  font-family: "Arya", sans-serif;
  font-size: 3rem; }

.heading-tertiary {
  font-family: "Arya", sans-serif;
  font-size: 2rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph--italic {
    color: #422417;
    font-size: 1.75rem;
    font-style: italic; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Arya", sans-serif;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 1.5rem;
  transition: all 0.2s;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--cta {
  font-weight: 700;
  background-color: #fff05a;
  color: #000;
  border: none;
  justify-self: center; }

.btn--primary {
  background-color: #b08e83;
  color: #fff;
  border: none;
  text-align: center;
  margin: auto; }

.btn--secondary {
  background-color: #fff;
  color: #422417;
  border: 1px solid #422417;
  text-align: center;
  margin: auto; }

.card {
  height: 40rem;
  width: 30rem;
  background-color: #fff;
  border-radius: 5rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.2s; }
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .card:hover .card__top__ellipse {
    clip-path: ellipse(55% 40% at top); }
  .card__link {
    text-decoration: none; }
  .card__top {
    height: 60%;
    border-radius: 5rem 5rem 0 0;
    position: relative; }
    .card__top__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 200px;
      width: 200px;
      object-fit: contain;
      z-index: 10; }
    .card__top__ellipse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: red;
      border-radius: 5rem 5rem 0 0;
      clip-path: ellipse(0% 0% at top);
      transition: clip-path 0.4s ease-in-out; }
  .card__product {
    background-color: #e2ebc3;
    border-radius: 0 0 5rem 5rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .card__product__name {
      color: #422417;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 1rem; }
    .card__product__description {
      color: #999;
      padding: 1rem 5rem 0 5rem;
      align-self: flex-start; }
    .card__product__price {
      padding-left: 5rem;
      align-self: flex-start; }

.form input {
  border-radius: 0.5rem;
  outline: none; }

.hr {
  height: 2px;
  border-width: 0;
  color: #eee;
  background-color: #eee;
  width: 90%;
  margin: 2rem 0;
  justify-self: center;
  align-self: start;
  /*Tablet and above Portrait View - 768px and above*/ }
  @media screen and (min-width: 768px) {
    .hr {
      width: 75%; } }
  .hr__sm {
    align-self: center;
    margin: 0.5rem 0;
    width: 75%; }

.fas {
  color: #fff;
  font-size: 2rem;
  margin: 0 5px; }

.fab {
  color: #fff;
  font-size: 2rem;
  margin: 0 5px; }

.footer {
  background-color: #422417;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center; }
  .footer--left {
    margin-left: 2rem; }
  .footer--right {
    margin-left: auto;
    margin-right: 2rem; }
  .footer__text {
    color: #fff; }
  .footer__list {
    display: flex;
    gap: 1rem; }
    .footer__list__item {
      list-style: none;
      font-weight: 700;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center; }

.nav {
  background-color: #422417;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center; }
  .nav__left {
    margin-left: 2rem;
    position: relative; }
  .nav__banner {
    font-size: 2rem;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    color: #fff; }
  .nav__burger {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    height: 100%;
    align-items: center;
    cursor: pointer; }
    @media screen and (min-width: 568px) {
      .nav__burger {
        display: none; } }
  .nav__right {
    display: none; }
    @media screen and (min-width: 568px) {
      .nav__right {
        display: block;
        margin-left: auto;
        margin-right: 2rem;
        height: 100%; } }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%; }
    .nav__list__item {
      height: 100%;
      list-style: none;
      font-weight: 700;
      position: relative;
      cursor: pointer;
      color: #fff;
      display: flex;
      align-items: center; }
      .nav__list__item::after {
        content: "";
        width: 0;
        height: 0.3rem;
        border-radius: 3px;
        position: absolute;
        left: 0px;
        bottom: 7px;
        background-color: #fff;
        transition: width 200ms ease-in; }
      .nav__list__item:hover::after, .nav__list__item:focus::after {
        width: 100%; }
      .nav__list__item:hover .nav__list__item__drop,
      .nav__list__item:focus .nav__list__item__drop {
        opacity: 1;
        visibility: visible; }
      .nav__list__item__link {
        text-decoration: none;
        color: #fff;
        list-style: none; }
      .nav__list__item__text {
        color: #fff; }
      .nav__list__item__drop {
        position: absolute;
        top: 5rem;
        left: -1rem;
        background-color: #422417;
        width: 14rem;
        padding-left: 1rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        z-index: 20;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out; }
        .nav__list__item__drop > * {
          padding-top: 7px; }
        .nav__list__item__drop--account {
          left: -4rem;
          width: 11rem;
          padding: 0 1rem 1rem 1rem; }
        .nav__list__item__drop--search {
          left: -16rem;
          width: 24rem;
          padding: 0 1rem 1rem 1rem; }
    .nav__list__subitem {
      list-style: none;
      font-weight: 700;
      position: relative;
      cursor: pointer;
      color: #fff;
      font-size: 1.4rem;
      width: 100%; }
      .nav__list__subitem > * {
        padding-top: 7px; }
      .nav__list__subitem:hover .nav__list__subitem__drop,
      .nav__list__subitem:focus .nav__list__subitem__drop {
        opacity: 1;
        visibility: visible; }
      .nav__list__subitem__text {
        font-size: 1.4rem; }
      .nav__list__subitem__drop {
        position: absolute;
        top: -1rem;
        left: 13rem;
        list-style: none;
        background-color: #422417;
        width: 14rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out; }
  .nav__link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    transition: background-color 200ms ease-in-out; }
    .nav__link:hover, .nav__link:focus {
      background-color: #b08e83; }
  .nav__form {
    display: flex;
    justify-content: center; }
    .nav__form--container {
      background-color: #fff; }
    .nav__form--input {
      width: 15rem;
      border: none; }
      .nav__form--input:focus::placeholder {
        color: transparent; }
      .nav__form--input::placeholder {
        color: #422417;
        font-weight: bold; }
    .nav__form--btn {
      background: transparent;
      border: none; }
    .nav__form--icon {
      color: #422417;
      cursor: pointer;
      align-self: center;
      font-size: 1.6rem;
      padding: 5px 0; }

.sidenav {
  position: absolute;
  top: 5vh;
  left: -160px;
  height: max-content;
  width: 160px;
  background-color: #422417;
  transition: left 500ms ease-in-out; }
  .sidenav__active {
    left: 0; }
  .sidenav__list {
    margin-left: 2rem; }
    .sidenav__list__item {
      height: 100%;
      list-style: none;
      font-weight: 700; }
      .sidenav__list__item__link {
        color: #fff;
        text-decoration: none; }
      .sidenav__list__item__text {
        color: #fff;
        margin-right: auto;
        position: relative; }
        .sidenav__list__item__text__wrapper {
          display: flex; }
      .sidenav__list__item__drop {
        margin-left: 2rem;
        list-style: none;
        display: none; }
        .sidenav__list__item__drop__active {
          display: block; }
        .sidenav__list__item__droplink {
          color: #fff;
          text-decoration: none; }
  .sidenav__caret {
    margin-top: 5px;
    margin-right: 2rem;
    transition: transform 200ms ease-in-out; }
    .sidenav__caret--rotate {
      transform: rotate(180deg); }
  .sidenav__form {
    display: flex; }
    .sidenav__form--container {
      background-color: #422417; }
    .sidenav__form--input {
      width: 10rem;
      border: none;
      cursor: pointer;
      background-color: #422417;
      color: #fff; }
      .sidenav__form--input:focus::placeholder {
        color: transparent; }
      .sidenav__form--input::placeholder {
        color: #fff;
        font-family: "Poiret One", cursive;
        font-weight: 400;
        font-size: 1.6rem; }
      .sidenav__form--input::-webkit-search-cancel-button {
        -webkit-appearance: none; }
    .sidenav__form--btn {
      background: transparent;
      border: none;
      display: none; }
    .sidenav__form--icon {
      color: #fff;
      cursor: pointer;
      align-self: center; }

.home {
  width: 100vw;
  display: grid;
  grid-template-rows: 90vh 1fr 1fr;
  /*Tablet and above Portrait View - 700px and above*/ }
  @media screen and (min-width: 700px) {
    .home {
      grid-template-rows: 90vh 1fr 1fr 1fr; } }
  .home__hero {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    background-image: url("../img/Hero_bg_2400x1830.jpg");
    background-color: #422417;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*Tablet and above Landscape View - 1000px and above*/ }
    @media screen and (min-width: 1000px) {
      .home__hero {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto; } }
    .home__hero__image {
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      /*Tablet and above Landscape View - 1000px and above*/ }
      @media screen and (min-width: 1000px) {
        .home__hero__image {
          grid-row: 1;
          grid-column: 2; } }
      .home__hero__image__center {
        height: 400px;
        width: 400px;
        object-fit: contain;
        z-index: 10;
        /*Tablet and above Landscape View - 700px and above*/ }
        @media screen and (min-width: 700px) {
          .home__hero__image__center {
            height: 500px;
            width: 500px; } }
      .home__hero__image__left {
        display: none;
        /*Tablet and above Landscape View - 700px and above*/ }
        @media screen and (min-width: 700px) {
          .home__hero__image__left {
            display: block;
            height: 400px;
            width: 400px;
            position: absolute;
            left: 50%;
            transform: translate(-50px, 0);
            z-index: 5; } }
      .home__hero__image__right {
        display: none;
        /*Tablet and above Landscape View - 1000px and above*/ }
        @media screen and (min-width: 1000px) {
          .home__hero__image__right {
            display: block;
            height: 400px;
            width: 400px;
            position: absolute;
            right: 50%;
            transform: translate(50px, 0);
            z-index: 5; } }
    .home__hero__text {
      grid-row: 2;
      padding: 0 0 4rem 2rem;
      justify-self: center;
      display: grid;
      text-align: center;
      /*Tablet and above Landscape View - 1024px and above*/ }
      @media screen and (min-width: 1000px) {
        .home__hero__text {
          grid-row: 1;
          grid-column: 1;
          text-align: left; }
          .home__hero__text > .btn {
            justify-self: left; } }
  .home__products {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 5fr;
    padding: 1rem 1rem 4rem 1rem;
    align-items: center; }
    .home__products__heading {
      grid-row: 1;
      justify-self: center; }
    .home__products__hr {
      grid-row: 2;
      justify-self: center;
      align-self: start; }
    .home__products__container {
      grid-row: 3;
      background-color: #f7f7f7;
      padding: 5rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-rows: 50rem;
      grid-template-columns: 40rem;
      grid-auto-flow: column;
      grid-auto-columns: 40rem;
      overflow-y: hidden;
      overflow-x: auto;
      /*Tablet and above Landscape View - 1000px and above*/ }
      @media screen and (min-width: 1300px) {
        .home__products__container {
          grid-template-columns: repeat(4, 1fr); } }
      .home__products__container::-webkit-scrollbar {
        height: 8px;
        border: 1px solid #e2ebc3; }
        .home__products__container::-webkit-scrollbar-track {
          border-radius: 1rem;
          box-shadow: inset 0 0 10px rgba(238, 238, 238, 0.25); }
        .home__products__container::-webkit-scrollbar-thumb {
          background: #e2ebc3;
          border-radius: 1rem; }
        .home__products__container::-webkit-scrollbar-thumb:hover {
          background: #adccae; }
      .home__products__container__card {
        display: grid;
        justify-items: center;
        border-radius: 5rem; }
  .home__collage {
    display: none;
    /*Tablet and above Portrait View - 768px and above*/
    /*Tablet and above Landscape View - 1024px and above*/ }
    @media screen and (min-width: 700px) {
      .home__collage {
        display: grid;
        grid-template-columns: 12;
        grid-template-rows: 2;
        grid-template-areas: "about about about contact contact contact contact contact" "sustain sustain sustain sustain sustain sustain roasting roasting"; } }
    @media screen and (min-width: 1000px) {
      .home__collage {
        grid-template-areas: "about about about contact contact contact contact contact brew brew brew brew" "sustain sustain sustain sustain sustain sustain roasting roasting brew brew brew brew"; } }
    .home__collage__image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 0.2s;
      position: relative;
      cursor: pointer; }
      .home__collage__image:hover > * {
        top: 50%;
        opacity: 1; }
    .home__collage__text {
      color: #fff;
      position: absolute;
      top: 0rem;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.7s ease-in-out; }
    .home__collage__about {
      grid-area: about;
      display: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/About.jpg");
      background-color: #422417;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 700px) {
        .home__collage__about {
          display: block; } }
    .home__collage__contact {
      grid-area: contact;
      display: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Contact.jpg");
      background-color: #b08e83;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 700px) {
        .home__collage__contact {
          display: block; } }
    .home__collage__brew {
      grid-area: brew;
      display: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Brew.jpg");
      background-color: #9b776d;
      /*Tablet and above Landscape View - 1024px and above*/ }
      @media screen and (min-width: 1000px) {
        .home__collage__brew {
          display: block; } }
    .home__collage__sustain {
      grid-area: sustain;
      display: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Sustain.jpg");
      background-color: #f7f7f7;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 700px) {
        .home__collage__sustain {
          display: block; } }
    .home__collage__roasting {
      grid-area: roasting;
      display: none;
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/Roasting.jpg");
      background-color: #777;
      /*Tablet and above Portrait View - 768px and above*/ }
      @media screen and (min-width: 700px) {
        .home__collage__roasting {
          display: block; } }

.product {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  /*Tablet and above Portrait View - 700px and above*/ }
  @media screen and (min-width: 700px) {
    .product {
      flex-direction: row; } }
  .product__img {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Tablet and above Portrait View - 700px and above*/ }
    @media screen and (min-width: 700px) {
      .product__img {
        height: 100%;
        width: 50%;
        order: 1; } }
    .product__img > img {
      height: 100%;
      /*Tablet and above Portrait View - 700px and above*/
      /*950px and above*/ }
      @media screen and (min-width: 700px) {
        .product__img > img {
          height: 60%; } }
      @media screen and (min-width: 950px) {
        .product__img > img {
          height: 80%; } }
  .product__info {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    /*Tablet and above Portrait View - 700px and above*/ }
    @media screen and (min-width: 700px) {
      .product__info {
        height: 100%;
        width: 50%; } }
  .product__form {
    background-color: chartreuse;
    border-radius: 5rem;
    height: 80%;
    width: 90%;
    padding: 3rem;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 10;
    align-items: center;
    justify-items: center; }
    .product__form input {
      padding: 4px 8px;
      color: crimson;
      appearance: none;
      outline: none;
      cursor: pointer; }
      .product__form input:checked {
        color: #fff; }
      .product__form input:before {
        content: attr(label); }
  .product__name {
    grid-row: 1;
    grid-column: 1 / 4; }
  .product__size {
    grid-row: 2;
    grid-column: 1 / 4; }
    .product__size--250 {
      grid-row: 3;
      grid-column: 1; }
    .product__size--500 {
      grid-row: 3;
      grid-column: 2; }
    .product__size--1000 {
      grid-row: 3;
      grid-column: 3; }
  .product__roast {
    grid-row: 4;
    grid-column: 1 / 4; }
  .product__description {
    grid-row: 5;
    grid-column: 1 / 4; }
  .product__grind {
    grid-row: 6;
    grid-column: 1 / 4; }
    .product__grind--whole {
      grid-row: 7;
      grid-column: 1; }
    .product__grind--cafe {
      grid-row: 7;
      grid-column: 2; }
    .product__grind--filter {
      grid-row: 7;
      grid-column: 3; }
  .product__submit {
    grid-row: 8;
    grid-column: 1 / 4;
    width: 50%;
    height: 75%; }

.shop {
  min-height: calc(100vh - 10rem);
  display: grid;
  grid-template-rows: 200px max-content max-content;
  grid-gap: 2rem; }

.shop-head {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  padding-top: 3rem;
  /*Tablet and above Portrait View - 700px and above*/ }
  @media screen and (min-width: 700px) {
    .shop-head {
      grid-template-rows: 1;
      grid-template-columns: 3; } }

.btn--filter {
  grid-row: 1;
  grid-column: 1;
  /*Tablet and above Portrait View - 700px and above*/ }
  @media screen and (min-width: 700px) {
    .btn--filter {
      grid-row: 1;
      grid-column: 1; } }

.btn--sort {
  grid-row: 1;
  grid-column: 2;
  /*Tablet and above Portrait View - 700px and above*/ }
  @media screen and (min-width: 700px) {
    .btn--sort {
      grid-row: 1;
      grid-column: 3; } }

.heading-shop {
  grid-row: 2;
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
  /*Tablet and above Portrait View - 700px and above*/ }
  @media screen and (min-width: 700px) {
    .heading-shop {
      grid-row: 1;
      grid-column: 2; } }

.shop-products {
  background-color: #f7f7f7;
  padding: 5rem;
  margin: 1rem;
  display: grid;
  justify-items: center;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden; }
