.card {
  height: 50rem;
  width: 40rem;
  background-color: $color-white;
  border-radius: $radius-lg;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
  }

  &:hover &__top__ellipse {
    clip-path: ellipse(55% 40% at top);
  }

  &__top {
    height: 60%;
    border-radius: $radius-lg $radius-lg 0 0;
    position: relative;

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 200px;
      width: 200px;
      object-fit: contain;
      z-index: 10;
    }

    &__ellipse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: red;
      border-radius: $radius-lg $radius-lg 0 0;
      clip-path: ellipse(0% 0% at top);
      transition: clip-path 0.4s ease-in-out;
      //z-index: 10;
    }
  }

  &__product {
    background-color: $color-highlight-1;
    border-radius: 0 0 $radius-lg $radius-lg;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      text-transform: uppercase;
      font-weight: bold;
      padding-top: $pad-sm;
    }

    &__description {
      color: $color-grey-dark-2;
      padding: $pad-sm $pad-md 0 $pad-md;
      align-self: flex-start;
    }

    &__price {
      padding-left: $pad-md;
      align-self: flex-start;
    }
  }
}
