.card {
  height: 50rem;
  width: 40rem;
  background-color: $color-white;
  border-radius: $radius-lg;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
  }

  &:hover &__top {
    clip-path: ellipse(50% 35% at top);
  }

  &__top {
    background-color: greenyellow;
    height: 60%;
    border-radius: $radius-lg $radius-lg 0 0;
    clip-path: ellipse(0% 0% at top);
    transition: clip-path 0.2s ease-in-out;
  }

  &__product {
    background-color: khaki;
    border-radius: 0 0 $radius-lg $radius-lg;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      text-transform: uppercase;
      font-weight: bold;
      padding-top: $pad-sm;
    }

    &__description {
      color: $color-grey-dark-2;
      padding: $pad-sm $pad-md 0 $pad-md;
      align-self: flex-start;
    }

    &__price {
      color: $color-secondary;
      font-style: italic;
      padding-left: $pad-md;
      align-self: flex-start;
    }
  }
}
