.products {
  &__container {
    background-color: $color-grey-light-1;
    padding: 5rem;

    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 50rem;
    grid-template-columns: 40rem;
    grid-auto-flow: column;
    grid-auto-columns: 40rem;
    overflow-y: hidden;
    overflow-x: auto;

    /*Tablet and above Landscape View - 1000px and above*/
    @media screen and (min-width: 1300px) {
      grid-template-columns: repeat(4, 1fr);
    }

    &::-webkit-scrollbar {
      height: 8px;
      border: 1px solid $color-highlight-1;

      &-track {
        border-radius: $radius-md;
        box-shadow: inset 0 0 10px rgba($color-grey-light-2, 0.25);
      }

      &-thumb {
        background: $color-highlight-1;
        border-radius: $radius-md;
      }

      &-thumb:hover {
        background: $color-highlight-1-dark;
      }
    }

    &__card {
      display: grid;
      justify-items: center;
      border-radius: $radius-lg;
    }
  }
}
