@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Poiret+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Poiret One", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
}
