.heading-primary {
  font-family: "Arya", sans-serif;
  color: $color-white;
  font-size: 5rem;
  font-weight: 700;
}

.heading-secondary {
  font-family: "Arya", sans-serif;
  font-size: 3rem;
}

.heading-tertiary {
  font-family: "Arya", sans-serif;
  font-size: 2rem;
}

.paragraph {
  font-size: $default-font-size;

  &--italic {
    color: $color-primary;
    font-size: 2rem;
    font-style: italic;
  }
}
