.home {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 90vh 1fr 1fr 1fr;

  &__hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;

    &__text {
      background-color: powderblue;
    }

    &__image {
      background-color: steelblue;
    }
  }

  &__bestsellers {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    padding: 1rem;

    &__heading {
      grid-row: 1;
      grid-column: 2 / span 2;
      background-color: crimson;
    }

    &__card {
      grid-row: 2;
      background-color: chocolate;
    }
  }

  &__latest-additions {
    background-color: peachpuff;
  }

  &__collage {
    background-color: plum;
  }
}
