.home {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 90vh 1fr 1fr 1fr;

  &__hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;

    &__text {
      background-color: powderblue;
    }

    &__image {
      background-color: steelblue;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    padding: 1rem;

    &__heading {
      grid-row: 1;
      grid-column: 2 / span 2;
      background-color: crimson;
    }

    &__card {
      grid-row: 2;
      background-color: chocolate;
    }
  }

  &__collage {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 2;
    grid-template-areas:
      "about about about contact contact contact contact contact brew brew brew brew"
      "sustain sustain sustain sustain sustain sustain roasting roasting brew brew brew brew";

    &__about {
      background-color: cyan;
      grid-area: about;
    }

    &__contact {
      background-color: darkblue;
      grid-area: contact;
    }

    &__brew {
      background-color: darkgoldenrod;
      grid-area: brew;
    }

    &__sustain {
      background-color: darkgray;
      grid-area: sustain;
    }

    &__roasting {
      background-color: darkkhaki;
      grid-area: roasting;
    }
  }
}
