.hero {
  width: 100vw;
  height: 95vh;
  background: $color-grey-light-2;

  display: grid;
  justify-items: center;
  align-items: center;

  &__image {
    width: 60vw;
    height: 100%;
    background: $color-primary;
  }

  &__text {
    width: 40vw;
    height: 100%;
  }
}
