.product {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;

  /*Tablet and above Portrait View - 700px and above*/
  @media screen and (min-width: 700px) {
    flex-direction: row;
  }

  &__img {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    /*Tablet and above Portrait View - 700px and above*/
    @media screen and (min-width: 700px) {
      height: 100%;
      width: 50%;
      order: 1;
    }

    > img {
      height: 100%;

      /*Tablet and above Portrait View - 700px and above*/
      @media screen and (min-width: 700px) {
        height: 60%;
      }

      /*950px and above*/
      @media screen and (min-width: 950px) {
        height: 80%;
      }
    }
  }

  &__info {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-light-1;

    /*Tablet and above Portrait View - 700px and above*/
    @media screen and (min-width: 700px) {
      height: 100%;
      width: 50%;
    }
  }

  &__form {
    background-color: $color-white;
    border-radius: $radius-lg;
    height: 70%;
    width: 80%;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10;
    align-items: center;
    justify-items: center;

    & input {
      padding: 4px 8px;
      color: $color-black;
      appearance: none;
      outline: none;
      cursor: pointer;

      &:checked {
        color: crimson;
      }

      &:before {
        content: attr(label);
      }
    }
  }

  &__name {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: crimson;
  }

  &__size {
    grid-row: 2;
    grid-column: 1 / 4;

    &--250 {
      grid-row: 3;
      grid-column: 1;
    }

    &--500 {
      grid-row: 3;
      grid-column: 2;
    }

    &--1000 {
      grid-row: 3;
      grid-column: 3;
    }
  }

  &__roast {
    grid-row: 5;
    grid-column: 1 / 4;
  }

  &__description {
    grid-row: 6;
    grid-column: 1 / 4;
  }

  &__grind {
    grid-row: 8;
    grid-column: 1 / 4;

    &--whole {
      grid-row: 9;
      grid-column: 1;
    }

    &--cafe {
      grid-row: 9;
      grid-column: 2;
    }

    &--filter {
      grid-row: 9;
      grid-column: 3;
    }
  }
  &__submit {
    grid-row: 10;
    grid-column: 1 / 4;
    width: 50%;
    height: 90%;
  }
}

.hr--roast {
  grid-row: 4;
  grid-column: 1 / 4;
}

.hr--grind {
  grid-row: 7;
  grid-column: 1 / 4;
}
